@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;700&display=swap");
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
}

body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, address, big, cite, code,
em, img, q, s, small, strong,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, figcaption, figure,
footer, header, main, menu, nav, section, summary,
time, mark, audio, video,
form, input, button, textarea, select {
  margin: 0;
  padding: 0;
  font-size: inherit;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline-width: 0;
}

b, strong {
  font-weight: inherit;
  font-weight: bolder;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button, input, select, textarea {
  font: inherit;
  margin: 0;
}

button, input, select {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type=button], [type=reset], [type=submit] {
  cursor: pointer;
}

[disabled] {
  cursor: default;
}

button, html [type=button],
[type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

body {
  font-family: "Times New Roman", Serif;
}

a, a img, button, [type=button], [type=reset], [type=submit] {
  transition: 0.2s;
}

/*!
 *  Font Awesome 4.5.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome-webfont.eot?v=4.5.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.5.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.5.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.5.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*===================================================================
  start up reset
===================================================================*/
body {
  background: transparent;
  color: inherit;
  font-weight: normal;
  line-height: normal;
  font-feature-settings: "palt";
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

a:visited {
  color: #4D4948;
}

a:hover {
  color: #4D4948;
}

/*===================================================================
	サイト基礎
===================================================================*/
body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  position: relative;
  font-size: 16px;
  color: #4D4948;
}

a {
  color: #4D4948;
  text-decoration: none;
}
a:hover {
  opacity: 0.5;
}
a img {
  transition: opacity 0.15s ease-out;
}
a img:hover {
  opacity: 0.5;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*===================================================================
	ヘッダー
===================================================================*/
@media screen and (max-width: 820px) {
  .site-header {
    background-color: #fff;
    width: 100%;
    z-index: 9999;
  }
}
.site-header .site-header__wrapper {
  width: 100%;
}
@media screen and (max-width: 820px) {
  .site-header .site-header__box1 {
    padding: 0;
    height: 46px;
  }
}
.site-header .site-header__box1 .site-header__box__cnt {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.5em 2vw;
}
@media screen and (max-width: 820px) {
  .site-header .site-header__box1 .site-header__box__cnt {
    padding: 0.5em;
  }
}
@media screen and (max-width: 820px) {
  .site-header .site-header__box1 .site-header__box__cnt .logo h1 {
    max-width: 130px;
  }
}
.site-header .site-header__box1 .site-header__box__cnt .menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
}
.site-header .site-header__box1 .site-header__box__cnt .menu .link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
}
.site-header .site-header__box1 .site-header__box__cnt .menu .link ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 2em;
}
@media screen and (max-width: 820px) {
  .site-header .site-header__box1 .site-header__box__cnt .menu .link ul {
    padding: 0 3em 0 0;
    gap: 1em;
  }
}
.site-header .site-header__box1 .site-header__box__cnt .menu .link ul li a {
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
}
.site-header .site-header__box1 .site-header__box__cnt .menu .link ul li a.ico01 {
  background-image: url(../../images/ico-contact.svg);
  padding: 0 0 0 1.6em;
}
.site-header .site-header__box1 .site-header__box__cnt .menu .link ul li a.ico02 {
  background-image: url(../../images/ico-lang.svg);
  padding: 0 0 0 1.6em;
}
@media screen and (max-width: 820px) {
  .site-header .site-header__box1 .site-header__box__cnt .menu .link ul li a span {
    display: none;
  }
}
@media screen and (max-width: 820px) {
  .site-header .site-header__box1 .site-header__box__cnt .menu .sns {
    display: none;
  }
}
.site-header .site-header__box1 .site-header__box__cnt .menu .sns ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.site-header .site-header__box1 .site-header__box__cnt .menu .sns ul li {
  margin: 0 0 0 1em;
}
.site-header .site-header__box1 .site-header__box__cnt .menu .sns ul li.multi {
  position: relative;
}
.site-header .site-header__box1 .site-header__box__cnt .menu .sns .x-btn {
  position: relative;
  z-index: 2;
}
.site-header .site-header__box1 .site-header__box__cnt .menu .sns .x-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  display: none;
  gap: 0.6em;
  background: #000;
  padding: 0.5em;
  border-radius: 4px;
  position: absolute;
  right: 50%;
  top: 4.5rem;
  width: 14em;
  transform: translateX(50%);
}
.site-header .site-header__box1 .site-header__box__cnt .menu .sns .x-list::before {
  content: "";
  width: 4rem;
  height: 4.5rem;
  position: absolute;
  top: -4.5rem;
  left: 50%;
  background: #000;
  transform: translateX(-50%);
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
}
.site-header .site-header__box1 .site-header__box__cnt .menu .sns .x-list.active {
  display: flex;
  -webkit-animation: fadeIn 0.3s ease-in-out forwards;
          animation: fadeIn 0.3s ease-in-out forwards;
}
.site-header .site-header__box1 .site-header__box__cnt .menu .sns .x-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6em;
  width: 100%;
  padding: 1em 0.6em;
  background: #fff;
  font-weight: bold;
  font-size: 1.4rem;
  color: #000;
}
.site-header .site-header__box1 .site-header__box__cnt .menu .sns .x-list a::before {
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  background: url("../../images/ico-x.svg") no-repeat left center/contain;
}
.site-header .site-header__box2 {
  background-color: #F2F2F2;
  padding: 0 4vw;
}
@media screen and (max-width: 820px) {
  .site-header .site-header__box2 {
    padding: 0;
  }
}
.site-header .site-header__box2 .site-header__box__cnt {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-weight: bold;
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.site-header .site-header__box2 .site-header__box__cnt dl {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 1.25em 2em 1.25em 0;
  font-size: 1.5rem;
}
@media screen and (max-width: 820px) {
  .site-header .site-header__box2 .site-header__box__cnt dl {
    padding: 0.65em 4vw;
    width: 88%;
  }
}
.site-header .site-header__box2 .site-header__box__cnt dl dt {
  padding: 0 3em 0 0;
}
@media screen and (max-width: 820px) {
  .site-header .site-header__box2 .site-header__box__cnt dl dt {
    padding: 0;
    width: 22%;
    font-size: 1.2rem;
  }
}
.site-header .site-header__box2 .site-header__box__cnt dl dd {
  font-weight: normal;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
  background-image: url(../../images/ico-info01.svg);
  padding: 0 0 0 2em;
  color: #0094E2;
}
.site-header .site-header__box2 .site-header__box__cnt dl dd.caution {
  color: #EE0030;
  font-weight: bold;
  background-image: url(../../images/ico-info02.svg);
}
@media screen and (max-width: 820px) {
  .site-header .site-header__box2 .site-header__box__cnt dl dd {
    width: 78%;
    font-size: 1.2rem;
    background-size: auto 1.15em;
    background-position: top 0.2em left 0;
    padding: 0 1.5em 0 1.5em;
  }
}
.site-header .site-header__box2 .site-header__box__cnt .sp-aco {
  display: none;
}
@media screen and (max-width: 820px) {
  .site-header .site-header__box2 .site-header__box__cnt .sp-aco {
    display: block;
    background-color: #0094E2;
    width: 12%;
    text-align: center;
    display: flex;
    padding: 1em 0.5em;
    align-items: center;
  }
  .site-header .site-header__box2 .site-header__box__cnt .sp-aco img {
    width: 0.8em;
    margin: 0 auto;
  }
}
.site-header .site-header__box2 .site-header__box__cnt ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: auto;
}
@media screen and (max-width: 820px) {
  .site-header .site-header__box2 .site-header__box__cnt ul {
    width: 100%;
    display: none;
  }
}
.site-header .site-header__box2 .site-header__box__cnt ul li {
  width: 100%;
}
.site-header .site-header__box2 .site-header__box__cnt ul li a {
  display: flex;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1em 2em;
  font-size: 1.3rem;
}
.site-header .site-header__box2 .site-header__box__cnt ul li:last-child a {
  background-color: #0094E2;
}
.site-header .site-header__box2 .site-header__box__cnt ul li:first-child a {
  background-color: #EE0030;
}
@media screen and (max-width: 820px) {
  .site-header .site-header__box2 .site-header__box__cnt ul.active {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}
.site-header .site-header__toggle {
  display: none;
}
@media screen and (max-width: 820px) {
  .site-header .site-header__toggle,
.site-header .site-header__toggle span {
    display: block;
    transition: all 0.4s;
    box-sizing: border-box;
  }
  .site-header .site-header__toggle {
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 34px;
    padding: 24px;
    box-sizing: content-box;
    z-index: 9999;
  }
}
@media screen and (max-width: 820px) and (max-width: 820px) {
  .site-header .site-header__toggle {
    width: 20px;
    height: 18px;
    padding: 14px;
  }
}
@media screen and (max-width: 820px) {
  .site-header .site-header__toggle span {
    position: absolute;
    left: 24px;
    width: calc(100% - (24px * 2));
    height: 6px;
    background-color: #4D4948;
  }
}
@media screen and (max-width: 820px) and (max-width: 820px) {
  .site-header .site-header__toggle span {
    left: 14px;
    width: calc(100% - (14px * 2));
    height: 2px;
  }
}
@media screen and (max-width: 820px) {
  .site-header .site-header__toggle span:nth-of-type(1) {
    top: 26px;
    -webkit-animation: menu-bar01 0.75s forwards;
            animation: menu-bar01 0.75s forwards;
  }
}
@media screen and (max-width: 820px) and (max-width: 820px) {
  .site-header .site-header__toggle span:nth-of-type(1) {
    top: 16px;
  }
}
@media screen and (max-width: 820px) {
  .site-header .site-header__toggle span:nth-of-type(2) {
    top: 38px;
    transition: all 0.25s 0.25s;
    opacity: 1;
  }
}
@media screen and (max-width: 820px) and (max-width: 820px) {
  .site-header .site-header__toggle span:nth-of-type(2) {
    top: 22px;
  }
}
@media screen and (max-width: 820px) {
  .site-header .site-header__toggle span:nth-of-type(3) {
    bottom: 26px;
    -webkit-animation: menu-bar02 0.75s forwards;
            animation: menu-bar02 0.75s forwards;
  }
}
@media screen and (max-width: 820px) and (max-width: 820px) {
  .site-header .site-header__toggle span:nth-of-type(3) {
    bottom: 16px;
  }
}
@media screen and (max-width: 820px) {
  .site-header .site-header__toggle.is-active {
    background-color: #000;
    opacity: 1;
    z-index: 10001;
  }
  .site-header .site-header__toggle.is-active span {
    background-color: #fff;
  }
  .site-header .site-header__toggle.is-active span:nth-of-type(1) {
    top: 30px;
    -webkit-animation: active-menu-bar01 0.75s forwards;
            animation: active-menu-bar01 0.75s forwards;
  }
}
@media screen and (max-width: 820px) and (max-width: 820px) {
  .site-header .site-header__toggle.is-active span:nth-of-type(1) {
    top: 14px;
  }
}
@media screen and (max-width: 820px) {
  .site-header .site-header__toggle.is-active span:nth-of-type(2) {
    opacity: 0;
  }
}
@media screen and (max-width: 820px) {
  .site-header .site-header__toggle.is-active span:nth-of-type(3) {
    bottom: 30px;
    -webkit-animation: active-menu-bar03 0.75s forwards;
            animation: active-menu-bar03 0.75s forwards;
  }
}
@media screen and (max-width: 820px) and (max-width: 820px) {
  .site-header .site-header__toggle.is-active span:nth-of-type(3) {
    bottom: 14px;
  }
}
.site-header .site-header__nav .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 0;
}
@media screen and (max-width: 820px) {
  .site-header .site-header__nav .list {
    padding: 0;
  }
}
.site-header .site-header__nav .list li {
  align-self: stretch;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  width: 16%;
  border-right: #D6D6D6 1px solid;
}
@media screen and (max-width: 820px) {
  .site-header .site-header__nav .list li {
    width: 100% !important;
    height: auto;
    border-bottom: #D6D6D6 1px solid;
    text-align: center;
  }
  .site-header .site-header__nav .list li:first-child {
    border-top: #D6D6D6 1px solid;
  }
}
.site-header .site-header__nav .list li a {
  display: block;
  padding: 0.5em 0.5em;
}
@media screen and (max-width: 820px) {
  .site-header .site-header__nav .list li a {
    padding: 1em 0.5em;
    color: #fff;
  }
}
@media screen and (max-width: 820px) {
  .site-header .site-header__nav {
    background-color: rgba(0, 148, 226, 0.9);
    position: absolute;
    left: 0;
    top: -4px;
    width: 100%;
    height: 100vh;
    transform: translateY(-100%);
    transition: 0.4s;
  }
  .site-header .site-header__nav.is-active {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateY(0);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10000;
  }
}

.top-mainVisual {
  width: 100%;
  margin: 0 auto;
}
.top-mainVisual a img:hover {
  opacity: 1;
}
.top-mainVisual .slick-dots {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 1em;
}
.top-mainVisual .slick-dots button {
  text-indent: -9999px;
  padding: 0;
  margin: 0;
  width: 2em;
  height: 3px;
  background: #f0f0f0;
  border: 0px !important;
}
.top-mainVisual .slick-dots .slick-active button {
  background: #0094E2;
}

.sub-mainVisual {
  width: 100%;
  max-width: 1124px;
  margin: 0 auto;
  padding: 0 12px;
}
.sub-mainVisual .sub-mainVisual-cnt h1 {
  font-size: 3.6rem;
  margin: 0 0 1em;
  padding: 0 0 0.15em;
  border-bottom: 4px solid #F74A68;
  -o-border-image: linear-gradient(125deg, #F74A68 0%, #FCBDD7 15%, #FFD44D 33%, #A2C862 50%, #3CC871 66%, #57C2EA 83%, #4F8FDA 100%);
     border-image: linear-gradient(125deg, #F74A68 0%, #FCBDD7 15%, #FFD44D 33%, #A2C862 50%, #3CC871 66%, #57C2EA 83%, #4F8FDA 100%);
  border-image-slice: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sub-mainVisual .sub-mainVisual-cnt ol {
  font-size: 1.2rem;
  padding: 2em 0 2.5em;
}
.sub-mainVisual .sub-mainVisual-cnt ol li {
  display: inline-block;
}
.sub-mainVisual .sub-mainVisual-cnt ol li::after {
  content: ">";
  margin: 0 1em;
}
.sub-mainVisual .sub-mainVisual-cnt ol li:last-child::after {
  display: none;
}

.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}
/*--------------------------------
  keyframes
--------------------------------*/
@-webkit-keyframes menu-bar01 {
  0% {
    transform: translateY(8px) rotate(45deg);
  }
  50% {
    transform: translateY(8px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes menu-bar01 {
  0% {
    transform: translateY(8px) rotate(45deg);
  }
  50% {
    transform: translateY(8px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@-webkit-keyframes menu-bar02 {
  0% {
    transform: translateY(-8px) rotate(-45deg);
  }
  50% {
    transform: translateY(-8px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes menu-bar02 {
  0% {
    transform: translateY(-8px) rotate(-45deg);
  }
  50% {
    transform: translateY(-8px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@-webkit-keyframes active-menu-bar01 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(8px) rotate(0);
  }
  100% {
    transform: translateY(8px) rotate(45deg);
  }
}
@keyframes active-menu-bar01 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(8px) rotate(0);
  }
  100% {
    transform: translateY(8px) rotate(45deg);
  }
}
@-webkit-keyframes active-menu-bar03 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-8px) rotate(0);
  }
  100% {
    transform: translateY(-8px) rotate(-45deg);
  }
}
@keyframes active-menu-bar03 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-8px) rotate(0);
  }
  100% {
    transform: translateY(-8px) rotate(-45deg);
  }
}
/*===================================================================
	メイン
===================================================================*/
.wrapper {
  width: 100%;
  max-width: 1124px;
  margin: 0 auto;
  padding: 0 12px;
}
@media screen and (max-width: 820px) {
  .wrapper {
    max-width: 1000px;
    padding: 0;
  }
}

.main-contents {
  width: 100%;
  text-align: left;
}

/*===================================================================
	フッター
===================================================================*/
.scroll-top #scroll-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: transparent;
  display: block;
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url(../../images/ico-pagetop.svg);
  border: 0;
}
@media screen and (max-width: 820px) {
  .scroll-top #scroll-top {
    width: 40px;
    height: 40px;
  }
}
.scroll-top #scroll-top:hover {
  opacity: 0.8;
}

.fixed-social {
  display: none;
}
@media screen and (max-width: 820px) {
  .fixed-social {
    display: block;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 9999;
  }
  .fixed-social li {
    margin-top: 0.5em;
  }
}

.site-footer {
  clear: both;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(../../images/foot-bg01.png);
  margin: 5em 0 0;
}
.site-footer .site-footer__btm .site-footer__btm__body {
  width: 100%;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  padding: 4em 0 1em;
  color: #ffffff;
}
.site-footer .site-footer__btm .site-footer__btm__body a {
  color: #fff;
}
.site-footer .site-footer__btm .site-footer__btm__body .tit {
  font-weight: bold;
  padding: 0 0 3em;
}
.site-footer .site-footer__btm .site-footer__btm__body .fnav01 {
  padding: 0 0 1.5em;
}
@media screen and (max-width: 820px) {
  .site-footer .site-footer__btm .site-footer__btm__body .fnav01 {
    display: none;
  }
}
.site-footer .site-footer__btm .site-footer__btm__body .fnav01 ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.site-footer .site-footer__btm .site-footer__btm__body .fnav01 ul li {
  width: 31%;
  font-weight: bold;
  font-size: 1.9rem;
}
.site-footer .site-footer__btm .site-footer__btm__body .fnav01 ul li a {
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
}
.site-footer .site-footer__btm .site-footer__btm__body .fnav01 ul li a.ico01 {
  background-image: url(../../images/foot-ico01.svg);
  padding: 0.25em 0 0.25em 2.2em;
}
.site-footer .site-footer__btm .site-footer__btm__body .fnav01 ul li a.ico02 {
  background-image: url(../../images/foot-ico02.svg);
  padding: 0.25em 0 0.25em 2.5em;
}
.site-footer .site-footer__btm .site-footer__btm__body .fnav01 ul li a.ico03 {
  background-image: url(../../images/foot-ico03.svg);
  padding: 0.25em 0 0.25em 1.85em;
}
.site-footer .site-footer__btm .site-footer__btm__body .fnav02 {
  padding: 0 0 1.5em;
}
.site-footer .site-footer__btm .site-footer__btm__body .fnav02 ul li {
  display: inline-block;
  margin: 0 1.5em 0 0;
  padding: 0 1.5em 0 0;
  font-weight: bold;
  font-size: 1.5rem;
}
@media screen and (max-width: 820px) {
  .site-footer .site-footer__btm .site-footer__btm__body .fnav02 {
    padding: 0;
  }
  .site-footer .site-footer__btm .site-footer__btm__body .fnav02 ul li {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    border-top: 1px solid #fff;
    font-size: 1.4rem;
  }
  .site-footer .site-footer__btm .site-footer__btm__body .fnav02 ul li a {
    display: block;
    padding: 1em;
    width: 100%;
  }
}
.site-footer .site-footer__btm .site-footer__btm__body .fnav03 {
  padding: 0 0 5.5em;
}
.site-footer .site-footer__btm .site-footer__btm__body .fnav03 ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.site-footer .site-footer__btm .site-footer__btm__body .fnav03 ul li {
  padding: 0.3em 2em;
  margin-bottom: 1em;
  border-right: 1px solid rgba(255, 255, 255, 0.7);
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 1;
}
.site-footer .site-footer__btm .site-footer__btm__body .fnav03 ul li:first-child {
  border-left: 1px solid rgba(255, 255, 255, 0.7);
}
.site-footer .site-footer__btm .site-footer__btm__body .fnav03 ul li:nth-child(6) {
  border-left: 1px solid rgba(255, 255, 255, 0.7);
}
@media screen and (max-width: 820px) {
  .site-footer .site-footer__btm .site-footer__btm__body .fnav03 ul {
    border-bottom: 1px solid #fff;
  }
  .site-footer .site-footer__btm .site-footer__btm__body .fnav03 ul li {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0;
    padding: 0;
    border-top: 1px solid #fff;
    border-left: 0px !important;
    font-size: 1.2rem;
  }
  .site-footer .site-footer__btm .site-footer__btm__body .fnav03 ul li:nth-child(2n) {
    border-right: 0px;
  }
  .site-footer .site-footer__btm .site-footer__btm__body .fnav03 ul li a {
    display: block;
    padding: 1em;
    width: 100%;
  }
}
.site-footer .site-footer__btm .site-footer__btm__body .copy {
  text-align: center;
  font-size: 1.2rem;
}

/*===================================================================
  Blog Style
===================================================================*/
p img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.alignright {
  margin: 1em;
  margin: 0 0 1em 1em;
  display: inline;
}

img.alignleft {
  padding: 1em;
  margin: 0 1em 1em 0;
  display: inline;
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}

.aligncenter {
  text-align: center;
}